*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}



body,
button,
input,
textarea{
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  font-weight: 700;
}

body{
  margin: 3.5rem 0 0 0;
  /* background-color: hsl(152, 0%, 100%); */
  background-color: rgb(236, 234, 234);
  /* color: hsl(152, 4%, 35%); */
  color: rgb(53, 88, 52);
  transition: .4s; /*For animation dark mode*/
  overflow-x: hidden;
  font-weight: 550;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: rgb(53, 88, 52);
  font-weight: 600;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(152, 8%, 20%);
  --title-color: hsl(152, 4%, 95%);
  --text-color: hsl(152, 4%, 75%);
  --body-color: hsl(152, 8%, 12%);
  --container-color: hsl(152, 8%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: hsl(152, 8%, 20%);
  /* color: hsl(152, 4%, 75%); */
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

/* Black color */
.dark-theme .questions, 
.dark-theme .section__title-center, 
.dark-theme .header, .dark-theme .about,
.dark-theme .contact-body, 
.dark-theme .contact-footer, 
.dark-theme .contact-footer h3, 
.dark-theme .social-links a, 
.dark-theme .contact-footer p, 
.dark-theme .about .about__container .about__data h2,
.dark-theme .header .nav a,
.dark-theme .header .nav a i,
.dark-theme .header .nav .nav__btns i,
.dark-theme .home{
  background-color: hsl(152, 8%, 20%);
  /* background-color: rgb(20, 40, 29); */
  /* background-color: #000; */
  /* color: rgb(153, 132, 212); */
  color: rgb(202, 168, 245);
}
.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(152, 4%, 4%, .3);
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none;
}
#google_translate_element img{
  display: none !important;
}

.goog-te-gadget{
  font-family: 'Merriweather', serif !important;
  font-size: 1rem !important;
}
.goog-te-gadget-simple{
  /* height: 2rem !important; */
  color: rgb(53, 88, 52) !important;
  background-color: transparent !important; 
  border: none !important;
  /* border-radius: 50px !important; */
}
.goog-te-gadget-simple:hover{
  background-color: #FFF !important;
}
#google_translate_element select{
  background:#f6edfd;
  color:black;
  border: none;
  border-radius:3px;
  padding:6px 8px
  }
.goog-te-gadget-icon{
  display:none !important;
}

/*=============== HEADER ===============*/
.header{
    width: 100%;
    background-color: hsl(152, 0%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .4s;
  }
  
  /*=============== NAV ===============*/
  .nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .nav__logo,
  .nav__toggle,
  .nav__close{
    color: hsl(152, 4%, 15%);
  }
  
  .nav__logo{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
  }
  
  .nav__logo-icon{
    font-size: 1.15rem;
    color: hsl(152, 24%, 32%);
  }
  
  .nav__logo:hover{
    color: hsl(152, 24%, 32%);
  }
  
  .nav__toggle{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .dropdown{
    position: absolute;
    cursor: pointer;
    height: 100%;
    list-style-type: none;
    display: none;
    background-color: #e1e0e0;
    /* border-radius: 10px; */
  }
  .dropdown_link{
    color: black;
    text-decoration: none;
  }
  .features:hover .dropdown{
    display: flex;
    flex-direction: column;
    background-color: #e1e0e0;
  }
  .features .nav__link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown .dropdown_item{
    background-color: #fff;
  }
  
  @media screen and (max-width: 767px){
    .nav__menu{
      position: fixed;
      background-color: #FFF;
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(152, 24%, 15%, .1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: .3s;
      z-index: 100;
    }
  }
  
  .nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }
  
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .nav__link{
    color: hsl(152, 4%, 15%);
    font-weight: 500;
    transition: .3s;
  }
  
  .nav__link:hover{
    color: hsl(152, 24%, 32%);
  }
  
  /* Show menu */
  .show-menu{
    right: 0;
  }
  
  /* Change background header */
  .scroll-header{
    box-shadow: 0 1px 4px hsla(152, 4%, 15%, .1);
  }
  
  /* Active link */
  .active-link{
    position: relative;
    color: hsl(152, 24%, 32%);
  }
  
  .active-link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: hsl(152, 24%, 32%);
  }
  .change-theme{
    color: hsl(152, 8%, 20%);
    /* color: hsl(152, 4%, 75%); */
    font-size: 1.15rem;
    cursor: pointer;
  }
  
  .nav__btns{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
  }